{{partial 'navbar'}}
{{log model}}
<div class="container admin-container">
  <div class="row">
    <div class="form-inline col-xs-12">
      <label for="problem">Visa:</label>
      {{#x-select value=problem class="form-control"}}
        {{#x-option value="all"}}Alla{{/x-option}}
        {{#x-option value="all_problems"}}Alla med problemstatus{{/x-option}}
        {{#x-option value="review_problems"}}Motlästa kort med problemstatus{{/x-option}}
        {{#x-option value="admin_problems"}}Administratörslästa kort med problemstatus{{/x-option}}
      {{/x-select}}
      <label for="image_id">Bildnr:</label>
      {{input value=image_id class="form-control"}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Bild-nummer</th>
            <th>Indexerare</th>
            <th>Motläsare</th>
            <th>Huvuduppslag</th>
            <th>Titel</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |card|}}
          <tr>
            <td>{{card.id}}</td>
            <td>{{card.ipac_image_id}}</td>
            <td>{{card.primary_registrator_username}}</td>
            <td>{{card.secondary_registrator_username}}</td>
            <td>{{card.lookup_field_value}}</td>
            <td>{{card.title}}</td>
          </tr>
          {{else}}
            <tr>
              <td colspan="6" class="text-center"><em>Hittade inga kort</em></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      {{pagination-pager pagination=model.meta.pagination}}
    </div>
  </div>
</div>
