{{partial 'navbar'}}
<div class="container admin-container">
  <div class="row">
    <div class="form-inline col-xs-12">
      <label for="problem">Visa:</label>
      {{#x-select value=problem class="form-control"}}
        {{#x-option value="all"}}Alla{{/x-option}}
        {{#x-option value="all_problems"}}Alla med problemstatus{{/x-option}}
        {{#x-option value="review_problems"}}Motlästa kort med problemstatus{{/x-option}}
        {{#x-option value="admin_problems"}}Administratörslästa kort med problemstatus{{/x-option}}
        {{#x-option value="indexed_ipac_lookup_cards"}}Indexerade kort med IPAC-uppslag{{/x-option}}
        {{#x-option value="ipac_lookup_cards_with_mismatch"}}Kort där IPAC-uppslag inte överensstämmer med huvuduppslag{{/x-option}}
      {{/x-select}}
      <label for="image_id">Bild-nr:</label>
      {{input value=image_id class="form-control"}}
      <div class="pull-right">
        <button {{action 'fetchSampleCard'}} class="btn btn-default">Stickprov</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            {{#if isIPACLookupView}}
              <th>ID</th>
              <th>Bild-nummer</th>
              <th>Uppslag (indexering)</th>
              <th>Uppslag (motläsning)</th>
              <th>Uppslag (admin)</th>
              <th>IPAC-uppslag</th>
              <th>Skillnad</th>
              <th></th>
            {{else}}
              <th>ID</th>
              <th>Bild-nummer</th>
              <th>Indexerare</th>
              <th>Motläsare</th>
              <th>Huvuduppslag</th>
              <th>Titel</th>
              <th>IPAC-uppslag</th>
              <th></th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each model as |card|}}
          {{#if isIPACLookupView}}
            <tr class="card-row {{if card.ipac_lookup_mismatch 'lookup-mismatch' 'lookup-match'}}">
              <td>{{card.id}}</td>
              <td>{{card.ipac_image_id}}</td>
              <td>{{card.primary_registrator_values.lookup_field_value}}</td>
              <td>{{card.secondary_registrator_values.lookup_field_value}}</td>
              <td>{{card.tertiary_registrator_values.lookup_field_value}}</td>
              <td>{{card.ipac_lookup}}</td>
              <td align="right">{{card.difference}}</td>
              <td>{{#link-to 'admin.edit' card.ipac_image_id}}Redigera{{/link-to}}</td>
            </tr>
          {{else}}
            <tr class="card-row">
              <td>{{card.id}}</td>
              <td>{{card.ipac_image_id}}</td>
              <td>{{card.primary_registrator_username}}</td>
              <td>{{card.secondary_registrator_username}}</td>
              <td>{{card.lookup_field_value}}</td>
              <td>{{card.title}}</td>
              <td>{{card.ipac_lookup}}</td>
              <td>{{#link-to 'admin.edit' card.ipac_image_id}}Redigera{{/link-to}}</td>
            </tr>
          {{/if}}
          {{else}}
            <tr>
              <td colspan="7" class="text-center"><em>Hittade inga kort</em></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      {{pagination-pager pagination=model.meta.pagination}}
    </div>
  </div>
</div>
