{{partial 'navbar'}}
<div class="container admin-container">
  <div class="row">
    <div class="form-inline">
      {{#x-select value=level class="form-control"}}
      {{#x-option value="all"}}Alla{{/x-option}}
      {{#x-option value="primary"}}Indexerare{{/x-option}}
      {{#x-option value="secondary"}}Motläsare{{/x-option}}
      {{#x-option value="tertiary"}}Administratörer{{/x-option}}
      {{/x-select}}

      {{#x-select value=problem class="form-control"}}
      {{#x-option value="all"}}Alla{{/x-option}}
      {{#x-option value="no_problem"}}Utan problem{{/x-option}}
      {{#x-option value="only_problem"}}Med problem{{/x-option}}
      {{/x-select}}

      {{input value=image_id class="form-control"}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Bild-nummer</th>
            <th>Indexerare</th>
            <th>Motläsare</th>
            <th>Huvuduppslag</th>
            <th>Titel</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |card|}}
          <tr>
            <td>{{card.id}}</td>
            <td>{{card.ipac_image_id}}</td>
            <td>{{card.primary_registrator_username}}</td>
            <td>{{card.secondary_registrator_username}}</td>
            <td>{{card.lookup_field_value}}</td>
            <td>{{card.title}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      {{pagination-pager pagination=model.meta.pagination}}
    </div>
  </div>
</div>
