
    <div class="form-inline">
      <div class="form-group {{if showClassificationError 'has-error'}}">
        <label for="signumInput">Signum</label>
        {{#catindex-x-select value=model.classification class="form-control" focus-out="setClassificationTouched"}}
        {{#x-option}}
        Välj...
        {{/x-option}}
        {{#each application.signumList key="@index" as |signumItem|}}
        {{#x-option value=signumItem}}
        {{signumItem}}
        {{/x-option}}
        {{/each}}
        {{/catindex-x-select}}
      </div>
      <div class="checkbox">
        <label>
          {{input type="checkbox" name="isSv" checked=model.is_sv}} Sv
        </label>
      </div>
    </div>

    <div class="form-group {{if showLookupFieldValueError 'has-error'}}">
      <label for="lookupFieldValue">Huvuduppslag</label>
      {{#if showPreviousCardLookupValue}}
      <div class="pull-right previous-card-lookup">
        <em>Föregående kort:</em>
        <a href="#" {{action 'usePreviousLookup'}}>
        {{model.previous_card_lookup_value}}
        </a>
      </div>
      {{/if}}
      {{input value=model.lookup_field_value type="text" class="form-control" id="lookupFieldValue" placeholder="Huvuduppslag" focus-out="setLookupFieldValueTouched"}}
    </div>


    <div class="form-group {{if showLookupFieldTypeError 'has-error'}}">
    {{#radio-button
      value="author"
      groupValue=model.lookup_field_type focus-out="setLookupFieldTypeTouched"}}
      Författare
      {{/radio-button}}
      {{#radio-button
        value="title"
        groupValue=model.lookup_field_type focus-out="setLookupFieldTypeTouched"}}
        Titel
        {{/radio-button}}
    </div>
        {{#if isLookupFieldTypeAuthor}}
        {{#each model.authors as |author|}}
          <div class="form-group {{unless author.valid 'has-error'}}">
            {{input value=author.author type="text" class="form-control" placeholder="Författare"}}
          </div>
        {{/each}}
        <div>
          <button {{action 'addAuthor'}} class="btn btn-link">+ Ytterligare författare</button>
        </div>
        {{/if}}

        <div class="form-group {{if showTitleError 'has-error'}}">
          <label for="titleInput">Titel</label>
          {{textarea rows="3" value=model.title type="text" class="form-control" id="titleInput" placeholder="Titel" disabled=isTitleLookup focus-out="setTitleTouched"}}
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group {{if showYearsError 'has-error'}}">
              <label>År</label>
              <div class="input-group">
                {{input value=model.year_from type="text" class="form-control" id="yearInput1" placeholder="År" disabled=model.no_year focus-out="setYearsTouched"}}
                <span class="input-group-addon">
                  -
                </span>
                {{input value=model.year_to type="text" class="form-control" id="yearInput2" placeholder="År" disabled=model.no_year focus-out="setYearsTouched"}}
                <span class="input-group-addon">
                  <label>
                  {{input type="checkbox" name="no_year" checked=model.no_year}} Utan år
                  </label>
                </span>
              </div>
            </div>
          </div>
        </div>
