<div class="row">
  <div class="col-xs-12">
    <dl class="dl-horizontal">
      {{#if showMainCard}}
        <dt>Signum</dt>
        <dd>{{model.classification}} {{#if model.is_sv}}(Sv){{/if}}</dd>
          <dt>Huvuduppslag</dt>
          <dd>{{model.lookup_field_value}}
            {{#if model.lookup_field_value}}
              <em>({{#if isLookupFieldTypeAuthor}}Författare{{else if isLookupFieldTypeTitle}}Titel{{/if}})</em>
            {{/if}}
          </dd>
          {{#if isLookupFieldTypeAuthor}}
            {{#if model.authors}}
              <dt>Medförfattare</dt>
              <dd>
                <ul class="list-unstyled">
                  {{#each model.authors as |author|}}
                  <li>{{author.author}}</li>
                  {{/each}}
                </ul>
              </dd>
            {{/if}}
          {{/if}}
          <dt>Titel</dt>
          <dd>{{model.title}}</dd>
          <dt>År</dt>
          {{#if model.no_year}}
            <dd>UÅ</dd>
          {{else}}
            <dd>{{model.year_from}}{{#if model.year_to}}-{{model.year_to}}{{/if}}</dd>
          {{/if}}
          <hr/>
          <dt>Typ av kort</dt>
          <dd>Huvudkort</dd>
          {{else if showReferenceCard}}
          <dt>Huvuduppslag</dt>
          <dd>{{model.lookup_field_value}}
            {{#if model.lookup_field_value}}
              <em>({{#if isLookupFieldTypeAuthor}}Författare{{else if isLookupFieldTypeTitle}}Titel{{/if}})</em>
            {{/if}}
          </dd>
          {{#if isLookupFieldTypeTitle}}
            <dt>Titel</dt>
            <dd>{{model.title}}</dd>
          {{/if}}
          <dt>Se</dt>
          <dd>{{model.reference_text}}</dd>
          <hr/>
          <dt>Typ av kort</dt>
          <dd>Hänvisningskort</dd>
          {{else if showPseudonymCard}}
          <dt>Pseudonym</dt>
          <dd>{{model.lookup_field_value}}</dd>
          <dt>Pseudonym för</dt>
          <dd>{{model.reference_text}}</dd>
          <hr/>
          <dt>Typ av kort</dt>
          <dd>Pseudonymkort</dd>
      {{/if}}
      <dt>Problem</dt>
      {{#if model.primary_registrator_problem}}
        <dd>{{model.primary_registrator_problem}}</dd>
      {{else}}
        <dd><em>Inga problem angivna</em></dd>
      {{/if}}
    </dl>
    <hr/>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <button type="button" class="btn btn-default" {{action 'setEditMode'}}>Redigera</button>
        </div>
        <div class="pull-right">
          <button {{action 'saveCard' model 'home'}} type="button" disabled={{unless isFormComplete 'disabled'}} class="{{if isFormComplete 'enabled' 'disabled'}} btn btn-primary">Spara + avsluta</button>
          <button id="saveNextButton" {{action 'saveCard' model}} disabled={{unless isFormComplete 'disabled'}} class="{{if isFormComplete 'enabled' 'disabled'}} btn btn-success">Spara + nytt kort</button>
        </div>
      </div>
    </div>
  </div>
</div>
