<div class="modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Stäng"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmModalLabel">Bekräfta motläsning</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-5">
            <dl class="dl-horizontal">
              {{#if showMainCard}}
                <dt>Signum</dt>
                <dd>{{model.classification}} {{#if model.is_sv}}(Sv){{/if}}</dd>
                <dt>Huvuduppslag</dt>
                <dd>{{model.lookup_field_value}}</dd>
                <dt>Typ av uppslag</dt>
                <dd>{{#if isLookupFieldTypeAuthor}}Författare{{else}}Titel{{/if}}</dd>
                {{#if isLookupFieldTypeAuthor}}
                <dt>Ytterligare författare</dt>
                <dd>
                  <ul class="list-unstyled">
                  {{#each model.authors as |author|}}
                    <li>{{author.author}}</li>
                  {{/each}}
                  </ul>
                </dd>
                {{/if}}
                <dt>Titel</dt>
                <dd>{{model.title}}</dd>
                <dt>År</dt>
                {{#if model.no_year}}
                  <dd>UÅ</dd>
                {{else}}
                  <dd>{{model.year_from}}{{#if model.year_to}}-{{model.year_to}}{{/if}}</dd>
                {{/if}}
              {{else if showReferenceCard}}
                <dt>Huvuduppslag</dt>
                <dd>{{model.lookup_field_value}}</dd>
                <dt>Typ av uppslag</dt>
                <dd>{{#if isLookupFieldTypeAuthor}}Författare{{else if isLookupFieldTypeTitle}}Titel{{/if}}</dd>
                <dt>Se</dt>
                <dd>{{model.reference_text}}</dd>
              {{else if showPseudonymCard}}
                <dt>Pseudonym</dt>
                <dd>{{model.lookup_field_value}}</dd>
                <dt>Verklig författare</dt>
                <dd>{{model.reference_text}}</dd>
              {{/if}}
              <hr/>
              <dt>Indexeringsproblem</dt>
              <dd>{{model.primary_registrator_problem}}</dd>
              <dt>Motläsningsproblem</dt>
              <dd>{{model.secondary_registrator_problem}}</dd>
            </dl>
            <hr/>
            <div class="row">
              <div class="col-xs-12">
                <div class="pull-left">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Tillbaka</button>
                </div>
                <div class="pull-right">
                  <button {{action 'saveCard' model 'home'}} type="button" class="btn btn-primary" data-dismiss="modal">Spara + avsluta</button>
                  <button id="saveNextButton" {{action 'saveCard' model}} class="{{if isFormComplete 'enabled' 'disabled'}} btn btn-success">Spara + nytt kort</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-7">
            <img src="{{imageUrl}}" id="card-image" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
