<div>
  <form>
    <div class="form-inline">
      <label for="signumInput">Signum</label>
      <div class="form-group">
        {{#x-select value=model.classification class="form-control"}}
        {{#x-option}}
        Välj...
        {{/x-option}}
        {{#each signumList key="@index" as |signumItem|}}
        {{#x-option value=signumItem}}
        {{signumItem}}
        {{/x-option}}
        {{/each}}
        {{/x-select}}
      </div>
      <div class="checkbox">
        <label>
          {{input type="checkbox" name="isSv" checked=model.is_sv}} Sv
        </label>
      </div>
    </div>
    <hr/>

    <div class="form-group">
      <label for="lookupFieldValue">Huvuduppslag</label>
      {{input value=model.lookup_field_value type="text" class="form-control" id="lookupFieldValue" placeholder="Huvuduppslag"}}
    </div>


    {{#radio-button
      value="author"
      groupValue=model.lookup_field_type}}
      Författare
      {{/radio-button}}
      {{#radio-button
        value="title"
        groupValue=model.lookup_field_type}}
        Titel
        {{/radio-button}}

        {{#if isLookupFieldTypeAuthor}}
        {{#each model.authors as |author|}}
          <div class="form-group">
            {{input value=author.author type="text" class="form-control" placeholder="Författare"}}            
          </div>
        {{/each}}
        <div>
          <button {{action 'addAuthor'}} class="btn btn-link">+ Ytterligare författare</button>
        </div>
        {{/if}}

        <hr/>

        <div class="form-group">
          <label for="titleInput">Titel</label>
          {{textarea rows="3" value=model.title type="text" class="form-control" id="titleInput" placeholder="Titel" disabled=isTitleLookup}}
        </div>

        <div class="row">
          <div class="col-xs-12">
            <label>År</label>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <div class="input-group">
                {{input value=model.year_from type="text" class="form-control" id="yearInput1" placeholder="År" disabled=model.no_year}}
                <span class="input-group-addon">
                  -
                </span>
                {{input value=model.year_to type="text" class="form-control" id="yearInput2" placeholder="År" disabled=model.no_year}}
                <span class="input-group-addon">
                  {{input type="checkbox" name="no_year" checked=model.no_year}} Utan år
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="problemInput">Problem</label>
              {{textarea rows="3" value=model.primary_registrator_problem type="text" class="form-control" id="problemInput" placeholder="Problembeskrivning"}}
            </div>
          </div>
        </div>
      </form>
    </div>
