<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'home'}}Home{{/link-to}}</li>
      <li>{{#link-to 'users'}}Användare{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if session.isAuthenticated}}
        <p class="navbar-text">Inloggad som {{session.content.secure.username}}</p>
        <li><a href="#" {{action 'logout'}}>Logga ut</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
<div class="container startpage-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <h1>Hej, {{session.content.secure.username}}!</h1>
    </div>
  </div>
  <div class="row stats-row">
    <div class="col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-3 text-center">
      <span class="stats-label">Indexerade kort:</span>
      <span class="stats-number">{{model.statistics.primary_registered_card_count}}</span>
    </div>
    <div class="col-sm-5 col-lg-3 text-center">
      <span class="stats-label">Motlästa kort:</span>
      <span class="stats-number">{{model.statistics.secondary_registered_card_count}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Vad vill du göra?</h2>
      <p class="lead">
        Det finns <strong>{{model.statistics.available_for_secondary_registration_count}}</strong> kort som andra har indexerat, som du kan motläsa.
      </p>
    </div>
  </div>
  <div class="row button-row">
    <div class="col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-3">
      {{#link-to 'register' class="btn btn-block btn-primary btn-lg"}}Indexera kort{{/link-to}}
    </div>
    <div class="col-sm-5 col-lg-3">
      {{#link-to 'review' class="btn btn-block btn-primary btn-lg" disabled=reviewDisabled}}Motläsa kort{{/link-to}}
    </div>
  </div>
</div>
